/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/


@keyframes menu__button__animation {
    0% {
        left: -13px;
    }

    100% {
        left: -9px;
    }
  
}

@keyframes scale-heart {
    0% {
      transform: scale(1, 1);
    }
    100% {
      transform: scale(1.5, 1.5);
    }
}
  
  @keyframes sparks-flash {
    0% {
      opacity:0;
    }
    100% {
      opacity: 1;
    }
}

.like-icon .heart .contour {
    fill: var(--accent-color);
    /* transition: fill 0s 0.1s; */
  }
  
  .like-icon .heart .core {
    fill: var(--heart-color);
    transition: fill 0.3s var(--time-pause-core);
  }
  
  .like-icon .heart .main-body {
    fill: var(--heart-color);
    transition: fill 0.3s var(--time-pause-main);
  }
  
  .like-icon:hover {
    --heart-color: var(--accent-color);
    --time-pause-core: 0s;
    --time-pause-main: 0.03s;
  }
  
  .like-icon:active {
    --heart-color: var(--heart-main-color);
  }
  
  .like-icon .sparks {
    fill: var(--heart-main-color);
    opacity: 0.0;
  }
  
  .like-icon.is-liked .heart .contour {
    fill: var(--heart-main-color);
    transition: fill 0.3s 0.06s ;
  }
  
  .like-icon.is-liked .heart .core {
    fill: var(--heart-main-color);
    transition: fill 0.3s var(--time-pause-core);
  }
  
  .like-icon.is-liked .heart .main-body {
    fill: var(--heart-main-color);
    transition: fill 0.3s var(--time-pause-main);
  }
  
  .like-icon.is-liked .heart {
    transform-origin: 50% 50%;
    animation-name: scale-heart;
    animation-delay: 0.1s;
    animation-duration: 0.3s;
    animation-iteration-count: 2;
    animation-direction: alternate;
    animation-timing-function: ease-in;
  }
  
  .like-icon.is-liked .sparks {
    transform-origin: 50% 50%;
    animation-name: sparks-flash;
    animation-delay: 0.3s;
    animation-duration: 0.3s;
    animation-iteration-count: 2;
    animation-direction: alternate;
    animation-timing-function: ease-in;
  }
  